@import "tailwindcss";
@plugin "daisyui" {
  /* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
  themes:
    light --default,
    dark --prefersdark,
    cupcake;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.nav-button {
  @apply btn-sm md:btn-md lg:btn-md xl:btn-lg;
}
